@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

* {
	margin: 0;
	box-sizing: border-box;
}

body { 
	font-family: Montserrat;
	font-size: 14px;
	background-color: #F2F2F2;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	color: black;
	text-decoration: none;
}

a:visited { color: black; }

.header {
	height: 90vh;
	display: flex;
	background-image: url(../img/capa-madmax2.jpg);
	background-size: cover;
	background-attachment: fixed;
}

.header__overlay {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: rgba(0, 0, 0, 0.6);
}

.menu {
	width: 100%;
	min-height: 50px;
	height: auto;
	padding: 20px 0;
}

.menu__list {
	width: 970px;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.menu__item {
	text-transform: uppercase;
	color: white;
	transition: color .5s;
	cursor: pointer;
	font-weight: bold;
	font-size: .8rem;
}

.menu__item:hover { color: #e4bb23; }

.user {
	display: flex;
	align-items: center;
}

.user__img {
	width: 50px;
	height: 50px;
	border-radius: 100%;
	margin: 0 15px;
}

.user__name {
	text-transform: capitalize;
}

.highlight {
	width: 970px;
	margin: auto;
}

.highlight__title {
	text-transform: uppercase;
	font-weight: bold;
	color: white;
	margin: 0 auto;
	font-size: 4rem;
}

.highlight__tags {
	display: flex;
	margin: 30px 0;
}

.tags {
	background-color: white;
	padding: 10px 20px;
	border-radius: 100px;
	text-transform: uppercase;
	letter-spacing: .1rem;
	cursor: pointer;
	transition: color, background-color .5s;
}

.tags:not(:last-of-type):not(:first-of-type) { margin: 0 10px; }

.tags:hover {
	color: white;
	background-color: #e4bb23;
}

.button {
	background-color: #e4bb23;
	border: 0;
	color: black;
	border-radius: 100px;
	text-align: center;
	padding: 10px 0;
	outline: none;
	transition: background-color .5s;
}

.button:hover { background-color: #bc9a1d; }

.button__text {
	padding: 0 40px;
}

.button__icon-button {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.button__icon {
	margin-right: 10px;
	padding: 5px 10px;
	border: 1px solid transparent;
	border-radius: 100%;
	transition: border .5s;
}

.button__icon:hover {
	border-color: black;
	animation: pulse .8s linear infinite alternate;
}

.information { margin-top: 40px; }

.information__text {
	color: white;
	font-size: .9rem;
	margin: 10px 0;
}

.information__text--highlighted { color: #e4bb23; }

/****** CONTENT STYLING ******/

.content {
	width: 970px;
	margin: auto;
}

.categories {
	margin: 20px 0;
	border-bottom: 1px solid #c4c4c4;
}

.categories__tab {
	display: flex;
	justify-content: center;
}

.categories__name {
	font-size: .9rem;
	text-transform: uppercase;
	padding-bottom: 20px;
	border-bottom: 1px solid transparent;
	transition: border-bottom .5s ;
	text-align: center;
	margin: 0 30px;
}

.categories__name:hover {
	border-color: #e4bb23;
}

.categories__name > a {
	color: #e4bb23;
	font-weight: bold;
}

.movies {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.card {
	min-width: 230px;
	border-radius: 5px;
	background-color: white;
	box-shadow: 0px 0px 5px lightgrey;
	margin: 15px 0;
	padding-bottom: 10px;
}

.card__header { position: relative; }

.card__image {
	width: 230px;
	height: 340px;
	border-radius: 5px 5px 0 0;
}

.card__body {
	padding: 10px;
	border-radius: 0px 0px 5px 5px;
	background-color: white;
}

.card__paragraph {
	font-weight: bold;
	text-transform: uppercase;
	font-size: .9rem;
	margin: 5px 0;
}

.card__paragraph--highlighted {
	text-transform: capitalize;
	color: #e4bb23;
}


.card__paragraph--medium {
	font-size: 1.2rem;
	font-weight: bold;
}

.card__actions {
	padding: 0 10px;
	display: flex;
	justify-content: space-between;
}

.card__icon {
	font-size: 1.5rem;
	color: #e7e7e7;
	cursor: pointer;
}

.card__icon--light { color: white; }

.card__icon--bigger { font-size: 3rem; }

.card__icon--favorite { transition: color .5s; }

.card__icon--favorite:hover {
	color: #e74c3c;
	animation: pulse .5s linear infinite alternate;
}

.card--hovered {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	position: absolute;
	top: 0;
	opacity: 0;
	background-color: rgba(0, 0, 0, 0.6);
	transition: opacity .5s;
	cursor: pointer;
}

.card:hover .card--hovered {
	height: 100%;
	opacity: 1;
}

.card__information {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.card__title {
	margin: 30px 0;
	color: #e4bb23;
	text-transform: uppercase;
	font-size: 1.2rem;
	text-align: center;
}

@keyframes pulse {
	from {
		transform: scale(1);
	}

	to {
		transform: scale(1.2);
	}
}